@model NewWeppAppServices2.Models.Serve

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<h2 style="margin-right:5%">حذف الخدمة</h2>

<h3 class="text-danger alert alert-danger">هل انت متأكد من حذف هذه الخدمة ؟</h3>
<div style=" margin:auto; width:50% ">
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServeContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServeContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServeImage)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ServeImage)*@
            <img src="~/Uploads/@Html.DisplayFor(model=>model.ServeImage)"
                 class="thumbnail"
                 style="width:48px; height:48px;" />
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تأكيد الحذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة الى القائمة", "Index")
        </div>
    }
</div>
