@model NewWeppAppServices2.Models.ApplyForService

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.serveId)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.serveId, "اسم الخدمة", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.serve.ServeName
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserId, "اسم المستخدم", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.user.UserName
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tmp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tmp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tmp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplyDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.ApplyDate
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="حفظ التعديلات" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("العودة إلى قائمة الخدمات", "GetServiceByUser")
</div>
